.about-body {
  display:flex;
  height: 100%;
}

.left-menu {
  width: 20%;
  font-size:40px;
  font-weight:100;
  /*background: rgba(247, 208, 239, .4);*/

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.about-header {
   float: left;
   display: block;
   margin-right: auto;
   padding-left:20px;
   padding-top:20px;
   display:flex;
}

.about-title {
  font-weight: 100;
  font-size:50px;
  margin-top:62px;
}
.about {
    font-size: 17px;
    font-weight: 150;
    display:flex;
    flex-direction: column;
}

.content {
    padding-top:10px;
    padding-left: 30px;
    font-weight: 200;
    justify-content: center;
    display: inline-block;
}

h1 {
    font-weight: 100;
    border-bottom: 1px solid #000000;
}

.red {
    color: #d9534f;
}

.blue {
    color:  #55acee;
}

.favorite-things {
    display: flex;
    font-weight: 200;
    justify-content: center;
    flex-direction: row;
}

.thing {
    clear: left;
    padding: 15px 50px;
}

.fa {
    font-size: 25px;
    color: #2788b6;
}
