<div class="about-body">

  <div class="about">
    <div class="about-header">
      <div class="about-header-images">
        <img ng-src="{{imageName}}" width="400"/>
      </div>

      <div class="about-title">
        {{resumeTitle}}
      </div>
    </div>

      <div class="intro">
          <div>
              <div class="content">
              
              </div>
              <!--<div class="favorite-things">
                  <div ng-repeat="site in links" class="thing">
                      <a href="{{site.link}}" target="_blank">
                      <i class="{{site.class}}"></i>
                      </a>
                  </div>
              </div>-->
          </div>
      </div>

      <!--<div>
          <h1>A few of my favorite things...</h1>
          <div>
              <div class="favorite-things">
                  <div ng-repeat="thing in favorite_things" class="thing">
                      <a ng-click="renderContent(thing.content)"><i class="{{thing.class}}"></i></a>
                      <p>{{thing.title}}</p>
                  </div>
              </div>
              <div class="content">
                  <p>{{renderedContent}}</p>
              </div>
          </div>
      </div>-->

  </div>
</div>
